<div>
    <h2 style="text-align: center; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Mi Lista de Tareas</h2>
    <br>
    <p>Mi lista de tareas es un proyecto sencillo para gestionar tus actividades diarias.</p>
    <p>Fue desarrollado con Angular en el marco del curso <em>#YoProgramo</em>, del programa <strong>Argentina Programa</strong>.</p>
    <br>
    <p>Trabajo desarrollado por: Juan Pablo.</p>
    <br>
    <hr>
    <br>
    <h4 style="text-align: end;">v 1.1.0</h4>
    <a routerLink="/" >Volver</a>
</div>